/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html{
      font-family: 'Cinzel', serif;
      font-size: 62.5%;
  }
 /* body {
    /* margin:auto; */
  /* } */ 

  
  /******************************************
  /* LAYOUT
  /*******************************************/
  /* header {
  
  } */
.nav-container .logo{
    font-family: 'Water Brush', 'Beau Rivage', serif;
    text-transform: none;
    font-size: 1.8rem;
}
.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 3rem 8% 3rem 8%;
    font-size: 1.3rem;
   
}
.nav-ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    gap: 9%;
}
.nav-container li{
    list-style: none;
}
.nav-container li a, .nav-container .bookOnline a{
    text-decoration: none;
    color: #000;
}
.container-section{
    background-image: radial-gradient(rgb(226, 127, 127), rgba(117, 77, 27, 0.502));
    padding-left: 10%;
    min-height: 120rem;
    width: 100%;
}
h1, .container-section span{
    color: white;
}
h1{
    font-size: 12rem;
    font-weight:lighter;
    padding-top: 16rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
.container-section span{
    font-size: 2.5rem;
    letter-spacing: .2rem;
}
.blackBox{
    width: 18%;
    height: 6rem;
    background: black;
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.blackBox span, .blackBoxSquare span{
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.blackBoxSquare{
    width: 37%;
    height: 40rem;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 5rem;
}
.blackBoxSquare .firstVisit{
    border-left: 2px solid white;
    padding: 2.5rem 0 2.5rem 2.5rem;
    margin: .5rem 0;
}
.offer{
    margin-left: 5%;
}
.blackBoxSquare span.firstColor{
    font-size: 2.5rem;
}
.blackBoxSquare .twenty{
    font-size: 6rem;
    font-weight: bold;
}
.whiteBox{
    height: 7rem;
    width: 67%;
    background: white;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7%;
}
.whiteBox span{
    color: black;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.icons-container{
    padding: 12%;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%
}
.icons-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 66.66%;
}
.icons-container p{
    text-align: center;
    width: 66.66%;
    font-size: 1.5rem; 
    margin-top: 0;
}
.img-container{ 
    width: 70%
} 
.img-container img{
    width: 50%;
}
h4{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
section.gray{
    min-height: 50rem;
    width: 100%;
    background: #f3f4f6;
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section.gray h3{
    font-size: 5rem;
    font-weight: lighter;
    padding-top: 8%;
}
section.gray img{
    width: 50%;
    height: 50%;
    padding: 8%;
    margin-right: 8%;
}
section.gray div p{
    padding-right: 15%;
    line-height: 2.5rem;
    
}
section.gray div div.read.blackBox{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 35%;
}
section.gray div div span{
    color: white;
    padding: 0 8%;
    font-size: 2rem;
}
section.stylists{ 
    min-height: 20rem;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 10%;
} 
section.stylists div{
    padding: 2rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.stylists div div.grayBox{
    min-height: 25rem;
    background:  #f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 4rem;
}
section.stylists div div.grayBox img{
    padding-bottom: 2rem;
}
section.stylists div div.blackBox{
    width: 80%;
    height: 5rem;
    color: white;
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.stylists div div.blackBox span{
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
section.stylists div div.blackBox span + span{
    font-size: 1rem;
} 
section.colorDay{
    width: 66.66%;
    min-height: 50rem;
    background: #efedee;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section.colorDay div{
    margin: 10%;
    margin-right: 5%;
}
section.colorDay > div > span{
    font-size: 3rem;
    font-weight: bold;
}
section.colorDay h3{
    font-size: 4rem;
    font-weight: normal;
}
section.colorDay .blackBox{
    width: 66.66%;
    color: white;
    margin: 0;
}
section.colorDay img{
    height: 50 rem;
}
section.lookbox{
    width: 70%;
    min-height: 100rem;
    margin: auto;
}
section.lookbox h3{
    text-align: center;
    font-size: 4rem;
}
section.lookbox h3::after{
    content: '';
    display:block;
    width: 3.5rem;
    height: .5rem;
    margin: 3rem auto;
    background: black;
}
/* section.lookbox > div:first-of-type{
    width: 5rem;
    height:1rem;
    margin: 1rem auto;
    background: black;
} */
section.lookbox .gallery{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
section.lookbox img{
    width: 33.33%;
    padding: 2%;
}
section.lookbox #long{
    margin-bottom: -31.66%;
}

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
@media screen and (max-width: 430px){
.nav-container .logo p{
    font-family: 'Water Brush', 'Beau Rivage', serif;
    text-transform: none;
    font-size: 5rem; 
    margin-bottom: 1.5rem;
}
.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1%;
    font-size: 3.5rem;
}
.nav-ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 9%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 5%;
}

.nav-container li{
    list-style: none;
}
.nav-container li a, .nav-container .bookOnline a{
    text-decoration: none;
    color: #000;
}
.container-section {
    background-image: radial-gradient(rgb(226, 127, 127), rgba(117, 77, 27, 0.502));
    padding-left: 5%;
    min-height: 100rem;
    width: 100%;
}
h1{
    font-size: 5rem;
    font-weight:lighter;
    padding-top: 8rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
.blackBox {
    width: 80%;
    height: 6rem;
    background: black;
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.blackBoxSquare {
    width: 90%;
    height: 44rem;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 5rem;
    margin-left: 2.5%;
}
.whiteBox {
    width: 85%;
}
.icons-container {
    padding: 12%;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-items: center;
}
.icons-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}
section.stylists {
    min-height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 10%;
}
section.gray {
    min-height: 50rem;
    width: 100%;
    background: #f3f4f6;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.gray h3 {
    font-size: 4rem;
    font-weight: lighter;
    padding-top: 8%;
}
section.gray div p {
    display: none;
    padding-right: 15%;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

section.gray div div.read.blackBox {
    margin-top: 10%;
    margin-bottom: 20%;
    width: 66%;
}
section.gray img {
    width: 100%;
    height: 100%;
    padding: 8%;
    margin-right: 5%;
}
section.colorDay {
    width: 66.66%;
    min-height: 50rem;
    background: #efedee;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.stylists div div.grayBox {
    min-height: 25rem;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
}
section.stylists div div.grayBox img {
    padding-bottom: 0;
}
section.colorDay {
    width: 80%;
    min-height: 50rem;
    background: #efedee;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.colorDay .blackBox {
    width: 77.66%;
    color: white;
    margin: 0;
    padding: 13%;
}
section.lookbox {
    width: 80%;
    min-height: 100rem;
    margin: auto;
}
section.lookbox h3 {
    text-align: center;
    font-size: 3rem;
}
}  
@media (min-width:431px) and (max-width:1023px){
.nav-container .logo p{
    font-family: 'Water Brush', 'Beau Rivage', serif;
    text-transform: none;
    font-size: 5rem;
    margin-bottom: 2rem;
   
}
.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1%;
    padding-bottom: 5rem;
    font-size: 4rem;
}
.nav-ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 9%;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
}

.nav-container li{
    list-style: none;
}
.nav-container li a, .nav-container .bookOnline a{
    text-decoration: none;
    color: #000;
}
.container-section {
    background-image: radial-gradient(rgb(226, 127, 127), rgba(117, 77, 27, 0.502));
    padding-left: 5%;
    min-height: 100rem;
    width: 100%;
}
h1{
    font-size: 7rem;
    font-weight: lighter;
    padding-top: 11rem;
    margin-bottom: 7rem;
    margin-top: 0;
}
.blackBox {
    width: 50%;
    height: 6rem;
    background: black;
    margin: 5%;
    margin-left:2.5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.blackBoxSquare {
    width: 90%;
    height: 44rem;
    background: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 5rem;
    margin-left: 2.5%;
}
.whiteBox {
    width: 85%;
}
.icons-container {
    padding: 6%;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content:space-between;
}
.icons-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}
h4 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
section.stylists {
    min-height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 10%;
}
section.gray {
    min-height: 50rem;
    width: 100%;
    background: #f3f4f6;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.gray h3 {
    font-size: 4rem;
    font-weight: lighter;
    padding-top: 8%;
}
section.gray div p {

    padding-right: 15%;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

section.gray div div.read.blackBox {
    margin-top: 10%;
    margin-bottom: 20%;
    width: 66%;
}
section.gray img {
    width: 100%;
    height: 100%;
    padding: 8%;
    margin-right: 5%;
}
section.colorDay {
    width: 66.66%;
    min-height: 50rem;
    background: #efedee;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.stylists div div.grayBox {
    min-height: 25rem;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
}
section.stylists div div.grayBox img {
    padding-bottom: 0;
}
section.colorDay {
    width: 80%;
    min-height: 50rem;
    background: #efedee;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.colorDay .blackBox {
    width: 77.66%;
    color: white;
    margin: 0;
    padding: 13%;
}
section.lookbox {
    width: 80%;
    min-height: 100rem;
    margin: auto;
}
section.lookbox h3 {
    text-align: center;
    font-size: 3rem;
}

}